@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

body {
  background: #000000;
  font-family: 'Silkscreen', monospace;   
}
.hidden {
  opacity:0;
}
.console-container {
    font-family: 'Silkscreen', monospace;
    font-size: 2em; 
    text-align: center;
    height: auto;
    width: 100%; 
    max-width: none; 
    display: block;
    position: absolute;
    color: #00ff0000;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: pre;
}

pre {
    font-family: 'Silkscreen', monospace;
}
/* .console-underscore {
   display:inline-block;
  position:relative;
} */
