.barrio-regular {
    font-family: "Barrio", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

* {
    box-sizing: border-box;
  }

body, html {
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    transition: background-color 0.3s linear, color 0.3s linear;
    font-family: Arial, Helvetica, sans-serif;
    background: none;
    --text-color: black; /* initial text color */
    color: var(--text-color);
}

.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

}

.left {
    width: 50%;
    padding: 1rem;
    word-wrap: break-word;
    overflow-wrap: break-word;  
}
.right {
    width: 50%;
    padding: 1rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
  
}

.left_image {
    display: block;
    width: 100%;
    height: auto; 
    object-fit: cover;
    max-height: 100vh;
    will-change: transform, filter;
    transition: transform 0.1s, filter 0.1s;
  }

.header {
    animation: infinite;
    font-family: "Barrio", system-ui;
    font-size: 8vw;
}

a:hover {
    color: rgb(255, 166, 0);
}

h1:hover {
    color: rgb(255, 166, 0);
}

h1 {
    font-family: "Barrio", system-ui;
}


#moving {
    width: 100%;
    height: 2.5rem;
    font-family: arial;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    background: #000;
    color: #fff;
}
#moving .scroll {
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    white-space: nowrap;
    animation: loop 30s linear infinite;
}
.fade {
    width: 100%;
    position: absolute;
    background: linear-gradient(
        90deg,
        #000,
        transparent 30%,
        transparent 90%,
        #000
    );
    inset: 0;
    pointer-event: none;
}
@keyframes loop {
    0% {transform: translateX(0%);}
    100% {transform: translateX(-50%);}
}
.item {
    display: flex;
    align-items: center;
    gap: 0 0.2rem;
    color: #e2e8f0;
    font-size: .9rem;
    background-color: #152c41;
    padding: 0.7rem 1rem;
    margin: 0rem 1rem;
    border-radius: 0.4rem;
    white-space: nowrap;
    box-shadow:
    0 0.1rem 0.2rem #ad252533,
    0 0.1rem 0.5rem #0000004d,
    0 0.2rem 01.5rem #00000066,
}

#scroll-depth {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: yellow;
    clip-path: polygon(
        30% 0%, 70% 0%, 
        100% 30%, 100% 70%, 
        70% 100%, 30% 100%, 
        0% 70%, 0% 30%
    ); /* Octagon shape */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Orbitron", sans-serif;;
    font-weight: bold;
    font-size: 16px;
    color: black !important; 
    z-index: 10000;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: transform 0.2s;
    user-select: none;
}

#scroll-depth:hover {
    transform: scale(1.1);
}

.orbitron {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }