* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

p {
    background-color: lightblue;
    max-width: 900px;
}

@media screen and (max-width: 900px) {
    body {
        background-color: darkkhaki;
    }
    
    p {
        background-color: pink;
    }
}

@media screen and (max-width: 600px) {
    body{
    background-color: lightgreen;
    }

    p {
        background: blue;
    }
}